

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}
 
.x-column-header-inner {
    line-height: normal;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
    top: 2%;
    font: normal 12px tahoma,arial,verdana,sans-serif;
}

.x-grid-row .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(199, 231, 237, 0.38);
}

.x-grid-row-run .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(237, 233, 199, 0.38);
}

.x-grid-row-getting-status .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgb(204, 188, 66);
}


.menu_is_run
{ 
    font-size: 12px; 
    font-weight: bold; 
    color: cadetblue; 
}

.menu_is_not_run
{ 
    font-size: 12px; 
    font-weight: 100; 
    color: cadetblue; 
}

.lt-button button
{
    height: auto;
}
.lt-button .x-btn-inner
{
    white-space: normal;
    line-height: normal;
    height: auto;
}

/*
.combo_box
{ 
    font-size: 8px; 
    font-weight: bold; 
    color: cadetblue; 
}

body {
}

textarea
{
  width:100%;
  height:100%;
}

.boxsizingBorder {
  border:1px solid #999999;
  /*margin:0px 0;
  padding:0px;*/
    /*width: 100%;
    height: 100%;*/
    /*-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;*/
}*/


/*.x-grid-row .custom-column { 
    //background-color: #ecf; 
    //color: #090; 
    //font-weight: bold; 
    font-size: 11px;
}*/

/*.markmo-list .x-list-item:nth-child(1),
.markmo-list .x-list-item:nth-child(2) {
  color: #CCC;
  font-size:10px;
}*/

/*.markets-list .x-list-item:nth-child(1),*/
/*.markets-list .x-list-item:nth-child(2) {
  color: #f00;
  font-size:10px;
}*/

/*.make-bold input {
    font-weight: bold;
}*/

/*.x-boundlist-item {
  color: #CCC;
  font-size:10px;
}*/

/*.x-combobox_ak-item {
    padding: 0 10px;
    font: normal 13px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 30px;
    cursor: pointer;
    cursor: hand;
    position: relative;
    border-width: 1px;
    border-style: dotted;
    border-color: #fff;
    color: #404040;
}*/

