
/* 
    для dataview
*/
.x-item-selected {
     background: #bbe3f7;
}
/* 
    для dataview
*/
.dataview-cell {
    padding: 2px;
    margin: 0px;
    text-align: start;
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight:400;
    border: 1px solid #808080;
    user-select: none; 
}

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}
 
.x-column-header-inner {
    line-height: normal;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
    top: 2%;
    font: normal 11px tahoma,arial,verdana,sans-serif;
}

.x-grid-row .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(199, 231, 237, 0.38);
}

.x-grid-row-run .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(237, 233, 199, 0.38);
}

.x-grid-row-block .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(108, 108, 106, 0.38);
}

.x-grid-row-getting-status .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgb(204, 188, 66);
}

.x-grid-row-alert .x-grid-cell {
    font: normal 11px tahoma,arial,verdana,sans-serif;
    background-color:rgba(241, 155, 85, 0.38);
}

.menu_is_run
{ 
    font-size: 12px; 
    font-weight: bold; 
    color: cadetblue; 
}

.menu_is_not_run
{ 
    font-size: 12px; 
    font-weight: 100; 
    color: cadetblue; 
}

.lt-button button
{
    height: auto;
}
.lt-button .x-btn-inner
{
    white-space: normal;
    line-height: normal;
    height: auto;
}

.grid-header-phone .x-column-header-text {
    -webkit-transform: rotate(90deg);

    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

    display:inline-table;
}

.x-ie8 .grid-header-phone .x-column-header-text {
    /* IE8 doesn't have css transform */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}


.boxsizingBorder {
    margin: 0px 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd.x-accordion-hd-sibling-expanded {
    background-color: #D2E7F7 !important;
    font-weight: bold;
}

.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    background-color: #D2E7F7 !important;
    font-weight: bold;
}

body#ext-element-1 {
    /*background-color: #596470 !important; */
    background-image: url(http://dev.sencha.com/ext/5.1.0/examples/kitchensink/crisp-en/resources/images/square.gif) !important;
    background-repeat: repeat;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slide-up;
    -webkit-animation-name: slide-up;
}

@-moz-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

@-webkit-keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}